

/*******************************************************************************************/

.btn_custom_button{

    background-color: #703684; 
    border: 1px solid #703684;
    color:#fff;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 4px!important;
}

.table_row_style{
    color: #843534;
    font-weight: bold; 
    font-size: 14px;
}

